@use "sass:map";
@use "sass:math";

$time: math.pow(2, 14) * 1ms;

$moons: (
  🌕
  🌖
  🌗
  🌘
  🌑
  🌒
  🌓
  🌔
);

@function arc($cx, $cy, $r) {
  @return implode((
    "M #{$cx - $r}",
    "#{$cy} a #{$r}",
    "#{$r} 0 1",
    "0 #{$r * 2}",
    "0 a #{$r}",
    "#{$r} 0 1",
    "0 #{$r * -2}",
    "0"
  ), ",");
}

@function moon($a) {
  $textPaths: "";

  @for $i from 1 through length($moons) {
    $m: nth($moons, $i);

    $next: $i - 1;
    @if $next < 1 {
      $next: length($moons);
    }

    $textPaths: $textPaths + html(
      "textPath",
      (
        "xlink:href": "#circle",
        "visibility": "hidden",
      ),
      $m + html(
        "set",
        (
          "id": "moon#{$i}",
          "attributeName": "visibility",
          "begin": "#{$time * ($i - 1)}; moon#{$next}.end",
          "dur": "#{$time}",
          "to": "visible",
        )
      )
    );
  }

  @return svg(
    0, 0, 128, 128,
    html(
      "path",
      (
        "id": "circle",
        "d": arc(64, 64, 56),
        "fill": "transparent",
      ),
      html(
        "animateTransform",
        (
          "attributeName": "transform",
          "attributeType": "XML",
          "type": "rotate",
          "from": "#{$a - 4} 64 64",
          "to": "#{$a - 4 + 210} 64 64",
          "dur": "#{$time}",
          "repeatCount": "indefinite",
        )
      )
    ) +
    html(
      "text",
      (
        "x": "0",
        "font-size": "16",
      ),
      $textPaths
    ) + 
    html(
      "animateTransform",
      (
        "id": "global",
        "attributeName": "transform",
        "attributeType": "XML",
        "type": "none",
        "dur": "#{length($moons) * $time}",
        "repeatCount": "indefinite",
      )
    )
  );
}

html {
  background-image: linear-gradient(
    180deg,
    #010 46%,
    midnightblue 52%
  );
  background-repeat: none;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  width: 80vmin;
  height: 80vmin;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

body::before,
body::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

body::before {
  background-image: moon(0);
  background-repeat: no-repeat;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 50%,
    0% 50%,
  );
  mix-blend-mode: luminosity;
}

body::after {
  background-image: moon(180);
  background-repeat: no-repeat;
  clip-path: polygon(
    0% 50%,
    100% 50%,
    100% 100%,
    0% 100%,
  );
  transform: scaleX(-1);
  mix-blend-mode: luminosity;
  filter: blur(0.5vmin);
}

